.summary__container {
    border-radius: 16px;
    max-width: 30%;
    height: 50%;
    padding: 9px 20px;
    background: #fff;
    box-shadow: 0px 6px 6px rgba(135, 135, 135, 0.15);
    margin-top: 10%;
    border: 1px solid #170341;
}

.summary__title {
    color: #170341;
    font-style: bold;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    vertical-align: center;
}

.summary__paragraph {
    color: #170341;
    font-style: bold;
    font-size: 16px;
    line-height: 100%;
    text-align: left;
    vertical-align: center
}

.summary__paragraph1 {
    color: #170341;
    font-style: bold;
    font-size: 16px;
    line-height: 36px;
    text-align: left;
    vertical-align: center
}

.summary__earnings {

    background: linear-gradient(90deg, #FF7E7C 25%, #DC43BC 100%);
    border-radius: 16px;
    min-width: 70%;
    margin: 0 auto;
}

.summary__span {
    font-weight: 700;
}

.summary__contable {
    text-align: center;
    line-height: 72px;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.spinner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner__container__text {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 36px;
    color: #170341
}

@media only screen and (max-width: 768px) {
    .summary__container {
        max-width: 100%;
        margin: 40px auto;
    }

    .summary__earnings {
        max-width: 100%;
    }

    .summary__contable {
        font-size: 34px;
    }
}